{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                未接入监控列表
            </div>
              <!-- Table -->
            <table class="table table-bordered">
        <thead>
          <tr>
            <th>IP</th>
            <th>名称</th>
          </tr>
        </thead>
        <tbody>
            {% for ip, key in different_ips_dict.items() %}
            <tr>
                <td>{{ ip }}</td>
                <td>{{ key }}</td>
            </tr>
          </tr>
        {% endfor %}
        </tbody>
      </table>

</div>
    <ul class="pagination">
        {{ page_string }}
    </ul>
    </div>
{% endblock %}
