{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Zabbix自动监控接入
            </div>
              <!-- Table -->
            <table class="table table-bordered">
        <thead>
    <form action="/gethost/getvalue" method="POST">
        <label for="IP">请输入IP地址:</label>
        <input type="test" id="IP" name="IP" min="1" required>
        <label for="name">请输入别名:</label>
        <input type="test" id="name" name="name" min="1" required>
        <button type="submit">Submit</button>
    </form>
    {% if result %}
        <h2>执行成功</h2>
    {% endif %}

      </table>

</div>
    <ul class="pagination">
        {{ page_string }}
    </ul>
    </div>
{% endblock %}
